[blogentries]
root_path=[/path/to/webroot]
doc_dir=docs
max=50
months=6
timeout=10
dirname=[/path/to/awstats]

[visitors]
root_path=[/path/to/webroot]
doc_dir=docs
months=6
dirname=[/path/to/awstats]

[searchphrases]
root_path=[/path/to/webroot]
doc_dir=docs
max=50
months=6
dirname=[/path/to/awstats]

[create_thumbnails]
root_path=[/path/to/webroot]
doc_dir=docs
img_dir=images
thumbnails_dir=thumbnails
max_width=100
dbi=mysql
dbname=[mt-database-name]
dbuser=[mt-user-name]
dbpasswd=[mt-user-password]

[rand-entry]
file=[/path/to/entries-list]

[rand-banner]
root_path=[/path/to/webroot]
